# Logs
logs/
*.log

# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache/options
.vs/
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Rider
.idea/

# macOS
.DS_Store

